*{
    margin: 0;
    box-sizing: border-box;
}

#error-div{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: red;
    
}


#heading{ // heading text div
    height: 20vh;
    width: 100%;
    text-align: center;
    padding: 3%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

    h1{
        font-weight: 500;
    }

    h4{
        padding: 1%;
        font-weight: 400;
        font-style: italic;

    }
}


#page{ // whole page div
    
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    
    #form-and-btns{ // div for the btns and the dropdowns
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2% 2%;
        margin-top: 2%;

        input[type=date]{
            font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 1.05em;
            width: 18vw;
        } 

        #dropdown-div{
            display: flex;
            padding-top:4%;
        }

        #btns{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 5%;

            #first-row{ // div of events -> one of each
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .button{
                    padding: 2% 0%;
                    width: 24%;
                }
                
            }

            .button{
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-size: 1em;
                margin-top: 3%;
                border: 1px solid grey;
                border-radius: 3px;
                background-color: white;
                box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.55)

            }

            #historical-btn{
                padding: 2% 10%;
                border: 1px solid #4287f5;
                
            }
            #clear-btn{
                border: 1px solid red;
                padding: 2% 10%;
            }

            
        }
    }

    

    

    

    .fact-heading{ // facts headings
        list-style-type: none;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 600;
        padding: 3% 0 0;

    }

    #facts-div{

        margin-top: 3%;
        width: 45vw;

        #fact-ul{
            padding: 0;
            
    
            
            .fact-text{
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
                font-weight: 100;
                padding: 5%;
                list-style-type: none;
                // background-color: lightblue;
                margin: 1% 0;
                

                
            }
            
        }


    }

    
}